body {
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background: rgb(251, 245, 255);
}
.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 15px;
}
.main {
  color: rgb(31, 11, 11);
  line-height: 2.5;
}
.navbar a {
  color: #000000;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}
.navbar {
  background-color: rgb(202, 202, 202);
  color: #975050;
  height: 60px;
}

.navbar .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navbar ul {
  display: flex;
  flex-direction: row;
}

.navbar ul {
  display: flex;
  flex-direction: row;
}

.navbar ul li {
  margin-left: 40px;
}
button {
  padding: 5px 10px;
  margin: 5px 10px;
  font-size: large;
  font-weight: bold;
  background-color: rgb(245, 245, 245);
  border-radius: 0;
}

button:hover {
  color: red;
  background-color: rgb(247, 247, 247);
}
